<section class="peculiar section">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="peculiar-cart list">
      <li class="peculiar-cart_item">
        <img
          src="/src/images/browBox1.png"
          alt="Cтворю твої ідеальні брови та вії"
          width="250"
        />
        <p class="peculiar-cart_text">створю твої ідеальні брови та вії</p>
      </li>
      <li class="peculiar-cart_item">
        <img
          src="/src/images/browBox2.png"
          alt="Догляну за здоров`ям волосків"
          width="250"
        />
        <p class="peculiar-cart_text">Догляну за здоров`ям волосків</p>
      </li>
      <li class="peculiar-cart_item">
        <img
          src="/src/images/browBox3.png"
          alt="Професійні матеріали та догляд"
          width="250"
        />
        <p class="peculiar-cart_text">Професійні матеріали та догляд</p>
      </li>
    </ul>
  </div>
</section>
